.menu{
  font-family: 'Noto Serif', serif;
  font-size:18px;
  width:700px;
  margin:auto;
  margin-top:30px;
  margin-bottom:30px;
  text-align:center;
}

.menu> a{
  text-decoration:none;
  color:gray;
  margin-right: 20px;
}

.menu> a:visited {
color:#ff99cc;
}

.menu> a:hover {
color:#800040;
}

h1 {
  color:lightslategray;
  font-family: 'Mali', cursive;
  border-bottom: 2px dotted black;
  padding-bottom:5px
  
}
.largura{
  width:700px;
  margin:auto;
  margin-top: 20px;
}
.largura-index{
  width:300px;
  display: inline-block;
}
.conteudo{
  font-family: 'Vollkorn SC', sans-serif;
  line-height:32px;
  color:#800040;
}

.conteudo p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.img-principal{
float: left;
margin-right:20px;
margin-bottom:20px;
}
.selecionado{
  border-bottom:2px dotted black;
}
.p12{
   color:lightcoral;
   font-family: 'Numans', sans-serif;
}
.img-principal1 {
margin-right:20px;
margin-bottom:20px;
display:inline-block;
}
body{
  background-color:#ffe6e6;
}
